/* #header
{

} */
body {
    margin: 0;
    /* overflow: hidden; */
}

.logo{
	height: 60px;
}

.navbar-container {
    background-color: #4F759B;
    width: 100%;
    position: fixed;
    display: flex;
    flex-direction: row;
}

.left-buttons-container {
    /* position: absolute;
    left: 0; */
    width: 33%;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 17px;
    margin-left: 20px;
}

.right-buttons-container {
    /* position: absolute;
    right: 0; */
    width: 33%;
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 17px;
    margin-right: 20px;
}

.pacman-container {
    /* margin: auto; */
    width: 33%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ourNames {
    font-size: 140%;
    color: white;
}

.navbar-button {
    background-color: #aaa !important;
    border-color: initial !important;
    outline: 0 !important;
}

.navbar-button:hover {
    background-color: rgb(153, 153, 153) !important;
}

.middle-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 72vh;
    gap: 50px;
}

.main-gif-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 50px;
}

.main-buttons-contaner {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.register-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 25%;
    left: 40%;
}
.register-form {
    width: 350px;
    height: 500px;
    background-color: #4F759B;
    border-radius: 10px;
}

.login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 25%;
    left: 40%;
}

.login-form {
    width: 350px;
    height: 300px;
    background-color: #4F759B;
    border-radius: 10px;
}


.input-field {
    width: 90% !important;
    color: #fff !important;
}
.navigation
{
	display: flex;
	justify-content: center;
}
/* 
.navigation ul
{
    padding: 0px;
    margin: 0px auto;
    display: flex;

    
}
.navigation ul li
{
    list-style: none;
    font-size: 15px;
    font-weight: bold;
    margin: 30px;
    font-family: Arial, Helvetica, sans-serif;
}
.navigation ul li a
{
    text-decoration: none;
    padding: 15px 35px;
    display: block;
    text-align: center;
} */

.form-box{
    width: 380px;
    height: 480px;
    position: relative;
    margin: 6% auto;
    background: #fff;
    padding: 5px;
    opacity: 1 !important;
    overflow: hidden;
}

.button-box{
    width: 220px;
    margin: 35px auto;
    position: relative;
    box-shadow: 0 0 20px 9px #ff61241f;
    border-radius: 30px;
}

.toggle-btn{
    padding: 10px 30px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;

}

#btn{
    top: 0;
    left: 0;
    position: absolute;
    width: 110px;
    height: 100%;
    background: linear-gradient(to right,#ffee00, #ff8f8f);
    border-radius: 30px;
    transition: 0.5s;
}

.input-field{
    width: 100%;
    padding: 10px 0;
    margin: 15px;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
}

.submit-btn{
    width: 85%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    background: linear-gradient(to right,#ffee00, #ff8f8f);
    border: 0;
    outline: none;
    border-radius: 30px;
    margin-top: 20px;
    align-self: center;
}

#login{
    left: 50px;
}

.error{
    color: red;
    font-style: italic;
}

#loginScreen{
    /* visibility: hidden; */
    position: absolute;
    top: 25%;
    left: 40%;
    /* transform: translate(-25%, -40%); */
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  .input-field::placeholder {
    color: white !important;
    opacity:1 !important; /* Firefox */
  }
  
  .input-field:-ms-input-placeholder {
    color: white !important;;
  }
  
  .input-field::-ms-input-placeholder { 
    color: white !important;;
  }

.screen{
    display: inline-block;
    padding: 1rem 1rem;
    vertical-align: top;
}

#setting{
    position: static;
}
